body {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: radial-gradient(circle at top right, rgba(125, 25, 150, 0.10), transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.08), transparent);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    margin: 0;
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

a {
    position: absolute;
    bottom: 2vmin;
    right: 2vmin;
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

