@import "./public/background.css";

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16%;
    left: 0;
    right: 0;
}

.avatar {
    width: 176px;
    height: 176px;
    border-radius: 50%;
}

.github-icon {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: -158%;
    right: 25%;
    cursor: pointer;
    filter: drop-shadow(0 0 15px #ffffff);
}

.telegram-icon {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: -158%;
    left: 25%;
    cursor: pointer;
    filter: drop-shadow(0 0 15px #0088cc);
}

.github-icon:hover,
.telegram-icon:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff;
    font-family: Arial;
    font-size: 32px;
}

.transparent-text {
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
